<div *ngIf="!deviceXs" >
    <mat-toolbar>
        <mat-toolbar-row fxFill fxLayoutAlign="space-between center" class="bg-color">
            <div>
                <button mat-button>
                    <img src="../../assets/Logo.png" style="margin-left: -25px;" alt="ICAD Logo">
                </button>
            </div>
            <div fxLayoutGap="40px">
                <button mat-button class="nav-text" style="height: 70px;" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['']">Home</button>
                <button mat-button class="nav-text" style="height: 70px;">Get Help</button>
                <button mat-button class="nav-text" style="height: 70px;">Health Centres</button>
                <button mat-button class="nav-text" style="height: 70px;" routerLinkActive="router-link-active" [routerLink]="['/map']">Map</button>
                <button mat-button class="nav-text" style="height: 70px;" routerLinkActive="router-link-active" [routerLink]="['/prevention']">Prevention</button>
                <button mat-button style="background-color: #FD7014;">Donate</button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-list><mat-divider style="border-top-color: #7D8A99;"></mat-divider></mat-list>    
</div>

<div *ngIf="deviceXs">
    <mat-toolbar>
        <mat-toolbar-row fxLayoutAlign="space-between center" class="bg-color">
            <div>
                <button mat-button>
                    <img src="../../assets/Logo small.png" style="margin-left: -25px;" alt="ICAD Logo">
                </button> 
            </div>
            <div>
                <button mat-icon-button style="color: white;">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row fxLayoutAlign="space-between center" class="bg-color">
            <button mat-button class="nav-text">Home</button>
            <button mat-button class="nav-text">Get Help</button>
            <button mat-button style="background-color: #FD7014;">Donate</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <!-- <mat-list><mat-divider style="border-top-color: #7D8A99;"></mat-divider></mat-list> -->
</div>