.bg-image {
    width: 100%;
    height: 90%;
    background-image: url('../../../assets/India Dotted Map.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.mat-fab {
    margin-right: 50px;
    background-color: #FD7014;
}