<div fxLayout="row wrap" fxLayoutAlign="space-around start" style="height: 100%;">
    <div class="text-cards" fxFlex="60%" fxFlex.gt-md="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
        <mat-card>
            <h3>How does the Novel Coronavirus spread?</h3>
            <p>
                People can catch COVID-19 from others who have the virus. The disease can spread from person to person
                trhough small droplets from the nose or mouth which are spread when a person with COVID-19 coughs or
                exhales. These droplets land on objects and surfaces around the person, then touching their eyes, nose
                or mouth.
            </p>
        </mat-card>
        <mat-card>
            <h3>Advisory On The Use Of N-95 Masks</h3>
            <p>
                The director-general of health services has issued an order to all the states regarding the use of N-95
                masks by the public other than designated health workers. The order stated that these masks,
                particularly with valved respirators are said to be “detrimental” to the measures adopted for the
                containment of the COVID-19 virus as they don’t prevent the virus from escaping out. The government
                advises the people to use homemade protective cover for face and mouth which must be washed and cleaned
                each day.
            </p>
        </mat-card>
        <mat-card>
            <h3>Handle Delivery Packages Safely</h3>
            <p>
                Recent studies suggest that SARS CoV-2, the virus that causes COVID-19 can remain active on certain
                surfaces such as plastic, stainless steel, cardboard, and copper for several hours. According to the
                CDC,
                it may also be possible for a person to get COVID-19 by simply touching a surface or object that has the
                virus on it and then touching their face, mouth, nose or eyes.
            </p>
        </mat-card>
    </div>
    <div class="black-cards" fxFlex.gt-md="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="row" fxLayoutAlign="space-around start">
            <mat-card>
                <div class="row" style="text-align: center;">
                    <img src="../../assets/bubbles.svg" alt="Bacteria spread">
                </div>
                <div class="row" style="text-align: center;">
                    <h3>Air transmission</h3>
                    <p>Via respiratory droplets produced when an infected person coughs or sneezes.</p>
                </div>
            </mat-card>
            <mat-card>
                <div class="row" style="text-align: center;">
                    <img src="../../assets/partnership-handshake 1.svg" alt="Handshake">
                </div>
                <div class="row" style="text-align: center;">
                    <h3>Personal Contact</h3>
                    <p>Avoiding contact with others and maintaining social distance.</p>
                </div>
            </mat-card>    
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around start">
            <mat-card>
                <div class="row" style="text-align: center;">
                    <img src="../../assets/no-touch.svg" alt="Bacteria spread">
                </div>
                <div class="row" style="text-align: center;">
                    <h3>Surfaces and Objects</h3>
                    <p>Most of these droplets fall on nearby objects and surfaces - such as desks, tables or telephones.</p>
                </div>
            </mat-card>
            <mat-card>
                <div class="row" style="text-align: center;">
                    <img src="../../assets/pet 1.svg" alt="Handshake">
                </div>
                <div class="row" style="text-align: center;">
                    <h3>Animal Contact</h3>
                    <p>Avoiding contact with street animals as they too can transmit the virus.</p>
                </div>
            </mat-card>    
        </div>  
    </div>
</div>