/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Source Sans Pro', "Helvetica Neue", sans-serif;
    // font-family: "Roboto", "Helvetica Neue", sans-serif; 
    height: 100%;
    box-sizing: border-box;
}
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@glidejs/glide/src/assets/sass/glide.core';
@import '~@glidejs/glide/src/assets/sass/glide.theme';

$background-color: #1E2124;
$grey-color: #7D8A99;
$orange-color: #FD7014;

.logo {
    padding: 0px, 5px;
    font-size: large;
}

.bg-color {
    background-color: $background-color;
}

.grey-color {
    color: $grey-color;
}

.orange-color {
    color: $orange-color;
}

.nav-text:hover {
    background-color: $orange-color;
    color: black;
}

.nav-text {
    font-size: medium;
    color: $grey-color;
}

.mat-tooltip.tooltip {
    background-color: black;
    font-size: small;
}